* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  outline: none;
}
.row{
  width: 100%;

}

button{
  background-color: lightblue;  
  color: black;
  font-size: 20px; 
  padding: 4px 16px;
  border-radius: 12px;
  width: 12%;
}
.container {
  width: 100%;
  padding: 0 20px;
}     
img {
  width: 100%;
}
h1 {
  color: rgb(231, 203, 203);
}
h2 {
  color: white;
  position: absolute;
}
.blue {
  color: rgb(80, 80, 244);
  font-size: 180px;
  margin-top: 40px;
  width: 100%;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}

/* LANDING SECTION */

#landing,
#footer {
  margin-top: 8px;
}

.nav__container {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  overflow: hidden;
  height: 120px;
  background-color: rgb(38, 9, 155);
  border-style: solid;
}


.nav__link {
  margin-left: 40px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  font-weight: bold;
  padding: 4px 16px;
  background-color: white;
  border-radius: 8px;
  border: 1px solid #0a1f44;
}
.logo__img--wrapper {
  width: 15%;
}
.logo {
  width: 80%;
  height: 80%;
  border-radius: 8px;
  border-width: 2px;
  border: 2px solid #0a1f44;
}
.input__wrapper{
display:flex;
}

ul {
  display: flex;
}
.input__wrapper {
  display: flex;
}
.input__wrapper{
  width: 40%;
}
input {
  background-color: #fff;
  border-radius: 12px;
  border: 2px solid #0a1f44;
  color: #0a1f44;  
  line-height: 40px;
  outline: none;
  padding: 0 15px;
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 100%;
  font-size: 24px;
  padding-left: 25px;
}

.header__container {
  margin-top: 8px;
  position: relative;
  overflow: hidden;
}
.main__header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 66px;
  margin-top: 40px;
}
.header__description {
  position: absolute;
  transform: translate(25%, 25%);
}
.header__img {
  scale: 80%;
  position: absolute;
  border-radius: 8px;
  transform: translateY(60px);
  z-index: 0;
  opacity: 100%;
}
.landing__text {
  padding-top: 80px;
}
.header__background--wrapper {
  max-height: 800px;
}
.header__background:before {
  opacity: 20%;
  z-index: -1;
  position: absolute;
}

/* FOOTER */

#footer {
  height: 120px;
  background-color: rgb(38, 9, 155);
  display: flex;
  align-items: center;
  
}
.footer__links {
  display: flex;
  justify-content: space-between;
  width: 100%;  
}
